---
layout: base.njk
title: Home - danyates.dev
---
<header>
    <h1 class="animate__animated animate__fadeInDown animate__slower">Hey, I'm Dan</h1>
    <p class="landing-p animate__animated animate__fadeIn animate__delay-1s animate__slow">I'm a software engineer working for <a href="https://gearset.com/" target="_blank">Gearset</a> in Cambridge, with a passion for <strong>frontend web development</strong>, building games in Unity and Unreal Engine, and all sorts of tech.</p>
    <a class="button homepage-button animate__animated animate__fadeIn animate__delay-2s animate__slow" href="/blog">Check out my blog</a>
</header>